@model ServicioModel /*Utilizo la clase en este modelo*/
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
    Crear Servicio
  </div>
  <div class="card-body">
   
      <form asp-action= "Guardar" asp-controlller="Servicio" method = "post">

      <div class="mb-3">
        <label class="form-label">Nombre Servicio</label>
        <input asp-for="NombreServicio" type="text" class="form-control" />
        <span asp-validation-for="NombreServicio" class="text-danger"> </span>
      </div>
      <div class="mb-3">
        <label class="form-label">Descripción Servicio</label>
        <input asp-for="DescripcionServicio" type="text" class="form-control">
        <span asp-validation-for="DescripcionServicio" class="text-danger"> </span>
      </div>    

      <button type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action= "Listar" asp-controller="Servicio" class="btn btn-warning">Volver a la lista</a>
    </form>

  </div>
</div>

